<html>
    <body>
        <form action="/issue/update/downvote" method="POST">
            <div class="container">
                <label for="psw"><b>User</b></label>
                <input type="password" placeholder="Enter Password" name="user" required>

                <label for="psw"><b>Issue id</b></label>
                <input type="password" placeholder="Enter Password" name="issue_id" required>

                <button type="submit">Login</button>
            </div>
        </form>
    </body>
</html>
