<html>
    <body>
        <form action="/user/register" method="POST">
            <div class="container">
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter your name" name="name" required>

                <label for="uname"><b>login</b></label>
                <input type="text" placeholder="Enter your name" name="login" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <label for="psw"><b>Repeat Password</b></label>
                <input type="password" placeholder="Enter Password" name="confirmed_password" required>

                <button type="submit">Login</button>
            </div>
        </form>
    </body>
</html>
