<html>
    <body>
        <form action="/solution/update/upvote" method="POST">
            <div class="container">
                <label for="psw"><b>User</b></label>
                <input type="text" placeholder="Enter Password" name="user" required>

                <label for="psw"><b>Solution id</b></label>
                <input type="text" placeholder="Enter Password" name="solution_id" required>

                <button type="submit">Login</button>
            </div>
        </form>
    </body>
</html>
